@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html, body {
    font-family: 'Open Sans', sans-serif;
    background: #494949;
    color: #fafafa;
}

#turn {
    font-weight: bold;
}
